.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.box-container{
    width: 35%;
    padding: 20px;
    border-radius: 12px;
    background-color: antiquewhite;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


.box-container h1{
    font-family: "poppins", sans-serif;
    font-size: 30px;
}

.box-container input{
    font-family: "poppins", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0px solid;
    padding: 5px;
    outline: none;
    margin-bottom: 20px;
}

.box-container button{
    width: 100%;
    height: 46px;
    background-color: aqua;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border: 0px solid;
    margin-top: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.qrImage{
    text-align: center;
}

.qrImage img{
    mix-blend-mode: color-burn;
}